.list-group-item:nth-child(1) strong {
  color: blue !important;
}
.list-group-item:nth-child(2) strong {
  color: green !important;
}
.list-group-item:nth-child(3) strong {
  color: red !important;
}
.list-group-item:nth-child(4) strong {
  color: goldenrod !important;
}
