.glassmorphism {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  font: bolder;
}

.box-shadow-custom {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.guardian-tag {
  height: 50px;
  /* border: 3px solid green;
  border-radius: 50%; */
}

.bar-chart-container {
  min-height: 300px !important;
}

.leaderboard-bar {
  /* border: 1px solid rgba(0, 0, 0, 0.2);
  background: white; */
  height: 25px;
}

.legend {
  height: 15px;
  aspect-ratio: 1;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.leaderboard-username {
  width: 6ch !important;
  overflow: hidden;
}
.category-card:hover {
  filter: brightness(0.9);
  background: white;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

.categories .col-md-6:nth-child(1) .glassmorphism {
  color: blue;
}
.categories .col-md-6:nth-child(2) .glassmorphism {
  color: red;
}

.categories .col-md-6:nth-child(3) .glassmorphism {
  color: gold;
}

.categories .col-md-6:nth-child(4) .glassmorphism {
  color: green;
}
