.navbar {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
}

.glassmorphism {
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  font: bolder;
}

.box-shadow-custom {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.stroke {
  stroke: rgba(0, 0, 0, 0.7);
  stroke-width: 5px;
}

.stroke-lg {
  stroke: rgba(0, 0, 0, 0.7);
  stroke-width: 20px;
}

.w-fit-content {
  width: fit-content !important;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
}

.guardian-tag {
  height: 50px;
  /* border: 3px solid green;
  border-radius: 50%; */
}

.bar-chart-container {
  min-height: 300px !important;
}

.leaderboard-bar {
  /* border: 1px solid rgba(0, 0, 0, 0.2);
  background: white; */
  height: 25px;
}

.legend {
  height: 15px;
  aspect-ratio: 1;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.leaderboard-username {
  width: 6ch !important;
  overflow: hidden;
}
.category-card:hover {
  filter: brightness(0.9);
  background: white;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

.categories .col-md-6:nth-child(1) .glassmorphism {
  color: blue;
}
.categories .col-md-6:nth-child(2) .glassmorphism {
  color: red;
}

.categories .col-md-6:nth-child(3) .glassmorphism {
  color: gold;
}

.categories .col-md-6:nth-child(4) .glassmorphism {
  color: green;
}

.chat-btn {
  border: none;
  width: fit-content;
  font-size: 3.4rem;
  background: transparent;
  color: green;
}

.close {
  border: none;
  background: transparent;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 1.4rem;
}

.close:hover,
.close:focus {
  filter: brightness(0.5);
  cursor: pointer;
}

.ask-btn {
  border: none;
  width: fit-content;
  font-size: 1.6rem;
  background: transparent;
  color: green;
  justify-content: center;
  padding: 0.25rem;
}

.ask-btn:hover,
.ask-btn:focus {
  filter: brightness(1.2);
  stroke-width: 20px;
  stroke: black;
}

.chat-btn:hover,
.chat-btn:focus {
  filter: brightness(1.1);
  cursor: pointer;
}

.linkedin {
  background-color: #3877b5;
}

.linkedin:hover,
.linkedin:focus {
  filter: brightness(0.9);
}

.github {
  background-color: #c9510c;
}

.github:hover,
.github:focus {
  filter: brightness(0.9);
}
