@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

:root {
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url("./assets/images/background-image.jpg") no-repeat center
    center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 66px;
}
/* 66px for navbar height issue dropdown */

form {
  background: #e1e5dc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
